/* accordion hover */
.card section > .container {
  height: 0;
  overflow: hidden;
  transition: height .25s;
}

.card section:hover > .container {
  height: 200px;
}

/* styles */
label {
  margin: 5px 5px 0 5px;
  display: inline-block;
}

p {
  color: rgb(50, 100, 200);
  margin-left: 5px;
}

div p {
  display: inline-block;
}

.card {
  margin: 5px;
  border-radius: 5px;
}

.card-heading {
  background: #990000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-heading div,
.container div{
  flex: 1;
  flex-basis: 30%;
}

.container {
  border-top: solid 1px rgb(200, 10, 40);
  background: #C00000;
}

.container p {
  margin-right: 5px;
}

.react-datepicker-wrapper input {
  height: 38px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  margin: 0 0 5px 5px;
  box-sizing: border-box;
  width: 97%;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%;
}
